{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4>New Client</h4>
            <form action="" method="post">
                <div class="medium-4  columns">
                    <label>Title</label>
                    <select name="form[title]">
                        <option value="mr">Mr.</option>
                    </select>
                </div>
                <div class="medium-4  columns">
                    <label>Name</label>
                    <input name="form[name]" value="{{ form.name.first }}" type="text"/>
                </div>
                <div class="medium-4  columns">
                    <label>Last Name</label>
                    <input name="form[lastName]" value="{{ form.name.last }}" type="text"/>
                </div>
                <div class="medium-8  columns">
                    <label>Address</label>
                    <input name="form[address]" value="{{ form.location.street }}" type="text"/>
                </div>
                <div class="medium-4  columns">
                    <label>zip_code</label>
                    <input name="form[zipCode]" value="{{ form.location.postcode }}" type="text"/>
                </div>
                <div class="medium-4  columns">
                    <label>City</label>
                    <input name="form[city]" value="{{ form.location.city }}" type="text"/>
                </div>
                <div class="medium-4  columns">
                    <label>State</label>
                    <input name="form[state]" value="{{ form.location.state }}" type="text"/>
                </div>
                <div class="medium-12  columns">
                    <label>Email</label>
                    <input name="form[email]" value="{{ form.email }}" type="text"/>
                </div>
                <div class="medium-12  columns">
                    <iframe width="1000" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ form.location.coordinates.latitude }},{{ form.location.coordinates.longitude }}&hl=es;z=14&amp;output=embed"></iframe>
                    <br/>
                    <small>
                        <a href="https://maps.google.com/maps?q={{ form.location.coordinates.latitude }},{{ form.location.coordinates.longitude }}&hl=es;z=14&amp;output=embed" style="color:#0000FF;text-align:left" target="_blank">
                            See map bigger
                        </a>
                    </small>
                </div>

                <div class="medium-12  columns">
                    <input type="submit" value="SAVE" class="button success hollow"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
